body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #ff0000;
  color: #fff;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #319df6;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.qualification-center {
	display: flex;
	justify-content: center;
}

.item-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.item {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.item-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.item-content p {
  margin: 0;
}

.qualification-subject {
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}
