html {
	height: 100%;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #ff0000;
  color: #fff;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #319df6;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.qualification-container {
	display: flex;
	flex-direction: column;
	margin: 25px;
}

.qualification {
	background-color: white;
	margin: 25px;
}

.qualification-subject {
  margin: 0px;
  text-align: center;
  font-weight: bold;
  outline: 1px solid #000;
  background-color: lightgrey;
  font-size: 18px;
  padding: 10px;
}

.image-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 25px;
}

img{
	margin-top: 25px;
}

.image-container img{
	max-width: 400px;
	max-height: 400px;
}

.image-title{
	font-weight: bold;
	text-align: center;
}

.item-container {
  margin: 50px 10%;
  display: flex;
  flex-direction: column;
}

.project-image {
	width: 100%;
	margin-top: 25px;
}

.item {
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #eee;
}

.item-content {
  margin-left: 10px;
}

.item-content p {
  margin: 2px;
}

.item-title{
	font-weight: bold;
}

.item a{
	color: mediumblue;
}

.item a:hover{
	color: white;
}

iframe{
	width: 100%;
	height: 600px;
	margin-bottom: 20px;
	margin-top: 10px;
	border:0
}

footer ul{
	padding: 0px;
	margin: 5px;
	list-style-type: none;
}

footer p{
	margin: 4px;
	font-size: 10px;
}

footer a {
	color: white;
}

footer {
	font-size: 12px;
	background-color: #000;
	padding: 15px;
	margin-top: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
}
